/*Social Links Styling*/
body {
    font-family: "Inter", serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    background-color: #1F1F1F;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.socials-card img {
    border-radius: 50%;
    width: 88px;
    height: 88px;
}

.socials-card h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.socials-card address {
    font-style: normal;
    color: #C4F82A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.socials-card p {
    font-size: .85rem;
    font-weight: 400;
}

.socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333333;
    color: white;
    width: 304px;
    height: 45px;
    border-radius: 8px;
    margin: 0.5rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}

.socials-link:hover,
.socials-link:focus {
    background-color: #C4F82A;
    color: black;
}
